<ion-card>
  <ion-card-content>
    <ion-item lines="none">
      <ion-label>Event</ion-label>
      {{ getIncidentType(status) }}</ion-item
    >
    <ion-item lines="none">
      <ion-label>Reported at</ion-label>
      <ion-datetime
        displayFormat="hh:mm a"
        [value]="reportedAtDateTime"
      ></ion-datetime> </ion-item
    ><ion-item lines="none">
      <ion-label>On</ion-label>
      <ion-datetime
        displayFormat="DD MMM YYYY"
        [value]="reportedAtDateTime"
      ></ion-datetime>
    </ion-item>
  </ion-card-content>
  <ion-footer class="button-border-top"
    ><ion-row class="ion-text-center">
      <ion-col size="6" class="ion-padding"
        ><ion-button fill="clear" (click)="leftButtonClicked.emit()">{{
          leftButtonLabel
        }}</ion-button></ion-col
      ><ion-col size="6" class="ion-padding button-border-left"
        ><ion-button
          fill="clear"
          strong="true"
          (click)="rightButtonClicked.emit()"
        >
          {{ rightButtonLabel }}</ion-button
        ></ion-col
      ></ion-row
    ></ion-footer
  >
</ion-card>
