@import 'src/theme/custom-colors.scss';

ion-card {
  width: 94%;
  margin: 3%;
  box-shadow: 1px 1px 3px 0px $color-drop-shadow;
}

ion-footer {
  height: 58px;
  & ion-button {
    width: 100%;
  }
}
