<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <agm-map
    [latitude]="latitude"
    [longitude]="longitude"
    [zoom]="zoom"
    [streetViewControl]="false"
    [clickableIcons]="false"
    ><agm-marker
      *ngFor="let marker of markers"
      [label]="marker.label"
      [latitude]="marker.latitude"
      [longitude]="marker.longitude"
      ><agm-snazzy-info-window
        [maxWidth]="100"
        [shadow]="true"
        padding="12px"
        backgroundColor="#fff"
        fontSize="12px"
        fontColor="#757575"
        wrapperClass="marker-info"
        [showCloseButton]="false"
        [isOpen]="false"
        [panOnOpen]="true"
        [closeWhenOthersOpen]="true"
        [closeOnMapClick]="true"
        ><ng-template>{{ marker.info }}</ng-template></agm-snazzy-info-window
      >
    </agm-marker></agm-map
  >
</ion-content>
