<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="incidents$ | async as incidents">
    <agm-map
      [latitude]="latitude"
      [longitude]="longitude"
      [zoom]="zoom"
      [streetViewControl]="false"
      [clickableIcons]="false"
      [draggableCursor]="draggableCursor"
      (mapClick)="mapClicked($event)"
      ><agm-marker
        *ngFor="let incident of incidents; trackBy: trackByIncidentId"
        [latitude]="incident.latitude"
        [longitude]="incident.longitude"
        ><agm-snazzy-info-window
          [maxWidth]="100"
          [shadow]="true"
          padding="12px"
          backgroundColor="#fff"
          fontSize="12px"
          fontColor="#757575"
          wrapperClass="marker-info"
          [showCloseButton]="false"
          [isOpen]="false"
          [panOnOpen]="true"
          [closeWhenOthersOpen]="true"
          [closeOnMapClick]="true"
          ><ng-template
            >{{ incident.reportedAt.toDate() | date:'medium' }}</ng-template
          ></agm-snazzy-info-window
        >
      </agm-marker></agm-map
    ><ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button color="secondary" (click)="addClicked()">
        <ion-icon *ngIf="!addingIncident" name="add"></ion-icon>
        <ion-icon *ngIf="addingIncident" src="/assets/waiting.svg"></ion-icon>
      </ion-fab-button>
      <ion-fab-button
        color="danger"
        class="ion-margin-top"
        (click)="deleteClicked(incidents)"
      >
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button
        *ngIf="geolocationAvailable"
        color="light"
        class="ion-margin-top"
        (click)="geolocationClicked()"
      >
        <ion-icon name="navigate-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
</ion-content>
