<ion-fab vertical="top" horizontal="end" slot="fixed" class="fab-top">
  <ion-row
    ><ion-col
      ><ion-fab-button
        color="danger"
        [disabled]="!enableAddDelete"
        (click)="addIncidentClicked.emit(powerStatus.Off)"
        ><ion-icon name="flash-off-sharp"></ion-icon></ion-fab-button></ion-col
    ><ion-col
      ><ion-fab-button
        color="success"
        [disabled]="!enableAddDelete"
        (click)="addIncidentClicked.emit(powerStatus.On)"
        ><ion-icon
          name="flash-sharp"
        ></ion-icon></ion-fab-button></ion-col></ion-row
  ><ion-row class="ion-margin-top"></ion-row
  ><ion-row
    ><ion-col></ion-col
    ><ion-col
      ><ion-fab-button
        *ngIf="displayGeolocation"
        color="light"
        class="ion-margin-top"
        (click)="geolocationClicked.emit()"
      >
        <ion-icon
          name="navigate-outline"
        ></ion-icon> </ion-fab-button></ion-col></ion-row
  ><ion-row
    ><ion-col></ion-col
    ><ion-col
      ><ion-fab-button
        color="danger"
        class="ion-margin-top"
        [disabled]="!enableAddDelete"
        (click)="deleteClicked(incidents)"
        ><ion-icon name="trash-outline"></ion-icon> </ion-fab-button></ion-col
  ></ion-row>
</ion-fab>
