ion-fab-button {
  --box-shadow: 0px 2px 3px 1px rgba(0, 0, 255, 0.2); // ionic selectors (--) do not work with $color-drop-shadow
}

.fab-top {
  margin-top: 64px;
}

.other-fabs {
  margin-top: 55px;
}
