<ion-content>
  <ng-container *ngIf="dialogShowing$ | async as dialogShowing">
    <div class="container" *ngIf="incidents$ | async as incidents">
      <div class="map-container">
        <app-map
          [incidents]="incidents"
          [allowMarkerClick]="dialogShowing === 'false'"
          (incidentClicked)="onIncidentClicked($event)"
          (mapClicked)="onMapClicked()"
          (deleteAllIncidentsRequested)="onDeleteAllIncidentsRequested(incidents)"
        ></app-map>
        <app-floating-buttons
          [enableAddDelete]="dialogShowing === 'false'"
          [displayGeolocation]="geolocationAvailable"
          (addIncidentClicked)="onAddIncidentClicked($event)"
          (geolocationClicked)="onGeolocationClicked()"
        ></app-floating-buttons>
      </div>
      <app-non-modal-dialog></app-non-modal-dialog>
    </div>
  </ng-container>
</ion-content>
