@import 'src/theme/custom-colors.scss';

.title-icon {
  font-size: 16px;
  vertical-align: middle;
}

.title-text {
  vertical-align: middle;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.incident-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.map-container {
  width: 100%;
  height: 100%;
}

// TODO remove
ion-card {
  width: 94%;
  margin: 3%;
  box-shadow: 1px 1px 3px 0px $color-drop-shadow;
}

// TODO remove
.card-footer-button {
  width: 100%;
  height: 100%;
}
