<ion-content>
  <ng-container *ngIf="showAddIncidentPopup$ | async as showAddIncidentPopup">
    <div class="container" *ngIf="incidents$ | async as incidents">
      <div class="map-container">
        <app-map
          [incidents]="incidents"
          [allowMarkerClick]="showAddIncidentPopup === 'false'"
          (incidentClicked)="onIncidentClicked($event)"
          (mapClicked)="onMapClicked()"
        ></app-map>
        <app-floating-buttons
          [enableAddDelete]="showAddIncidentPopup === 'false'"
          [displayGeolocation]="geolocationAvailable"
          (addIncidentClicked)="onAddIncidentClicked($event)"
          (geolocationClicked)="onGeolocationClicked()"
          (deleteAllIncidentsClicked)="onDeleteAllIncidentsClicked(incidents)"
        ></app-floating-buttons>
      </div>
      <div class="incident-container">
        <ion-card *ngIf="showAddIncidentPopup === 'true'">
          <ion-card-content>
            <ion-item lines="none">
              <ion-label>Event</ion-label>
              {{ getIncidentType(newIncidentStatus) }}</ion-item
            >
            <ion-item lines="none">
              <ion-label>Reported at</ion-label>
              <ion-datetime
                displayFormat="hh:mm a"
                [value]="newIncidentDateTime"
              ></ion-datetime> </ion-item
            ><ion-item lines="none">
              <ion-label>On</ion-label>
              <ion-datetime
                displayFormat="DD MMM YYYY"
                [value]="newIncidentDateTime"
              ></ion-datetime>
            </ion-item>
          </ion-card-content>
          <ion-footer class="button-border-top"
            ><ion-row class="ion-text-center">
              <ion-col size="6" class="ion-padding"
                ><ion-button
                  fill="clear"
                  class="card-footer-button"
                  (click)="addPopupCancelClicked()"
                  >Cancel</ion-button
                ></ion-col
              ><ion-col size="6" class="ion-padding button-border-left"
                ><ion-button
                  fill="clear"
                  strong="true"
                  type="submit"
                  class="card-footer-button"
                  (click)="addPopupAddClicked()"
                  >Add</ion-button
                ></ion-col
              ></ion-row
            ></ion-footer
          >
        </ion-card>
        <ion-card *ngIf="activeIncident$ | async as activeIncident">
          <ion-card-content>
            <ion-item lines="none">
              <ion-label>Event</ion-label>
              {{ getIncidentType(activeIncident.status) }}</ion-item
            >
            <ion-item lines="none">
              <ion-label>Reported at</ion-label>
              <ion-datetime
                displayFormat="hh:mm a"
                [value]="activeIncident.reportedAt"
              ></ion-datetime> </ion-item
            ><ion-item lines="none">
              <ion-label>On</ion-label>
              <ion-datetime
                displayFormat="DD MMM YYYY"
                [value]="activeIncident.reportedAt"
              ></ion-datetime>
            </ion-item>
          </ion-card-content>
          <ion-footer class="button-border-top"
            ><ion-row class="ion-text-center">
              <ion-col size="6" class="ion-padding"
                ><ion-button
                  fill="clear"
                  class="card-footer-button"
                  (click)="activePopupDeleteClicked(activeIncident.id)"
                  >Delete</ion-button
                ></ion-col
              ><ion-col size="6" class="ion-padding button-border-left"
                ><ion-button
                  fill="clear"
                  strong="true"
                  class="card-footer-button"
                  (click)="activePopupCloseClicked()"
                  >Close</ion-button
                ></ion-col
              ></ion-row
            ></ion-footer
          >
        </ion-card>
      </div>
    </div>
  </ng-container>
</ion-content>
