<ion-content>
  <ng-container *ngIf="showAddIncidentPopup$ | async as showAddIncidentPopup">
    <div class="container" *ngIf="incidents$ | async as incidents">
      <div class="map-container">
        <app-map
          [incidents]="incidents"
          [allowMarkerClick]="showAddIncidentPopup === 'false'"
          (incidentClicked)="onIncidentClicked($event)"
          (mapClicked)="onMapClicked()"
        ></app-map>
        <app-floating-buttons
          [enableAddDelete]="showAddIncidentPopup === 'false'"
          [displayGeolocation]="geolocationAvailable"
          (addIncidentClicked)="onAddIncidentClicked($event)"
          (geolocationClicked)="onGeolocationClicked()"
          (deleteAllIncidentsClicked)="onDeleteAllIncidentsClicked(incidents)"
        ></app-floating-buttons>
      </div>
      <div class="incident-container">
        <app-incident-popup
          *ngIf="showAddIncidentPopup === 'true'"
          [reportedAtDateTime]="newIncidentDateTime"
          [status]="newIncidentStatus"
          actionButtonLabel="Add"
          closeButtonLabel="Cancel"
          (actionClicked)="addPopupAddClicked()"
          (closeClicked)="addPopupCancelClicked()"
        ></app-incident-popup>
        <app-incident-popup
          *ngIf="activeIncident$ | async as activeIncident"
          [reportedAtDateTime]="activeIncident.reportedAt"
          [status]="activeIncident.status"
          actionButtonLabel="Delete"
          closeButtonLabel="Close"
          (actionClicked)="onActivePopupDeleteClicked(activeIncident.id)"
          (closeClicked)="onActivePopupCloseClicked()"
        ></app-incident-popup>
      </div>
    </div>
  </ng-container>
</ion-content>
