<ion-header>
  <ion-toolbar>
    <ion-title>Report submitted</ion-title
    ><ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Thanks for the report!</h1>
  Would you like to let your friends know?
  <ion-grid
    ><ion-row class="ion-text-center ion-padding"
      ><ion-col size="6">FB</ion-col><ion-col size="6">TW</ion-col></ion-row
    ></ion-grid
  >
</ion-content>
