<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h1>Thanks for the report!</h1>
    Would you like to let your friends know?
  </div>
  <ion-grid
    ><ion-row class="ion-text-center ion-padding"
      ><ion-col size="6"
        ><ion-button fill="clear" (click)="shareToFacebookClicked()"
          ><ion-icon
            slot="icon-only"
            name="logo-facebook"
            class="facebook-icon social-icon"
          ></ion-icon></ion-button></ion-col
      ><ion-col size="6"
        ><ion-button fill="clear" (click)="shareToTwitterClicked()"
          ><ion-icon
            slot="icon-only"
            name="logo-twitter"
            class="twitter-icon social-icon"
          ></ion-icon></ion-button></ion-col></ion-row
    ><ion-row class="ion-text-center"
      ><ion-col size="12"
        ><ion-button fill="clear" (click)="dismissModal()"
          >No thanks</ion-button
        ></ion-col
      ></ion-row
    ></ion-grid
  >
</ion-content>
