@import 'src/theme/custom-colors.scss';

.social-icon {
  font-size: 46px;
}

.facebook-icon {
  color: #4267b2;
}

.twitter-icon {
  color: rgb(29, 161, 242);
}

.border-top-bottom {
  border-top: 1px solid $color-faint-border;
  border-bottom: border-top;
}
